TZ=UTC
PORT=3333
HOST=localhost
LOG_LEVEL=info
APP_KEY=
NODE_ENV=development
SESSION_DRIVER=cookie
DB_HOST=ep-hidden-mouse-adreyefm-pooler.c-2.us-east-1.aws.neon.tech
DB_PORT=5432
DB_USER=neondb_owner
DB_PASSWORD=npg_8Gs0HKgzJheD
DB_DATABASE=neondb_owner
# psql 'postgresql://neondb_owner:npg_8Gs0HKgzJheD@ep-hidden-mouse-adreyefm-pooler.c-2.us-east-1.aws.neon.tech/neondb?sslmode=require&channel_binding=require'


# Dojah KYC
DOJAH_APP_ID=your_app_id
DOJAH_SECRET_KEY=your_secret_key
DOJAH_BASE_URL=https://api.dojah.io

PAYSTACK_SECRET_KEY=sk_test_77335678e5b9cdb808c14f29f06b2fac89f17050

# Bridgecard
BRIDGECARD_API_KEY=your_api_key
BRIDGECARD_BASE_URL=https://issuecards.api.bridgecard.co
